.header {
    position: fixed;
    font-size: p2r(16);
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s;
    box-shadow: 0 0 0 p2r(128) rgba(38, 51, 39, 0.01) inset;
    width: 100vw;

    &__light {
        background-color: $bg_article;        
    }

    &.black {        
        .header-nav > ul > li > a {
            color: $font_black;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: $font_accent;		
                }
            }
        }

        .header-nav-icon {
            stroke: $primary;
        }
    }

    &-blur {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 5;
        height: p2r(120);  
        transform-origin: left top;
        transform: translateZ(0) translateY(-25%);

        @include tablet {
            height: p2r(80);
        }

        @include mobile {
            height: p2r(60);
        }
  
        & > div {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
  
          &:nth-of-type(1) {
            z-index: 2;
            backdrop-filter: blur(p2r(1));
            mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 12.5%, rgb(255, 255, 255) 37.5%, rgba(255, 255, 255, 0) 50%);
          }
  
          &:nth-of-type(2) {
            z-index: 3;
            backdrop-filter: blur(p2r(3));
            mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 12.5%, rgb(255, 255, 255) 37.5%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 62.5%);
          }
  
          &:nth-of-type(3) {
            z-index: 4;   
            backdrop-filter: blur(p2r(4));
            mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 37.5%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 62.5%, rgba(255, 255, 255, 0) 75%);
          }
  
          &:nth-of-type(4) {
            z-index: 5;   
            backdrop-filter: blur(p2r(6));
            mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 62.5%, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0) 87.5%)
          }
        }
    }

    &-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: p2r(16);
        padding-bottom: p2r(16);
        z-index: 6;

        @include tablet {
            padding-top: p2r(4);
            padding-bottom: 0;
        }

        @include mobile {           
            padding-bottom: 0;
        }
    }

    &-logo {  
        display: block;
        margin-right: p2r(56);
        transition: opacity 0.3s;
        position: relative;
        z-index: 2000;
        line-height: 1;

        img {
            width: p2r(77.5);
            height: auto;

            @include mobile {
                width: p2r(54);               
            }
        }

        @media (hover: hover) and (pointer: fine) {
            &:not(span):hover {
                opacity: 0.5;
            }
        }
        
        @include tablet {
            margin-right: auto;
        }        
    }

    &-nav {
        font-size: p2r(16);

        @include mobile {
            font-size: p2r(14);
        }
        
        & > ul {
            display: flex;

            & > li {
                display: block;

                &:not(:last-child) {
                    margin-right: p2r(26);

                    @include tablet {
                        margin-right: p2r(32);
                    }

                    @include mobile {
                        margin-right: p2r(20);
                    }
                }

                &.active {                  
                   
                    & > a {
                        position: relative;
                        color: $font_accent;
                        border-radius: p2r(40);
                        cursor: default;

                        &::before {
                            content: '';
                            position: absolute;
                            top: p2r(-8);
                            left: p2r(-20);                            
                            height: p2r(40);
                            width: 160%;
                            border-radius: p2r(40);
                            background-color: rgba(16, 51, 43, 0.5);
                            backdrop-filter: blur(p2r(32));                           
                            z-index: -1;
                            display: block;
                            background-repeat: repeat;
                            background-size: 100px 100px;	
                            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.5' numOctaves='1.5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)' opacity='0.14'/%3E%3C/svg%3E");
                        }
                    }
                    
                    .header-nav-menu {
                        display: flex;             
                    }

                    .header-nav-icon {
                        stroke: $font_accent;             
                    }
                }

                & > a {
                    color: $font_white;
                    transition: color 0.3s;
                    // padding: p2r(12) p2r(18);
                    display: block;

                    &.active {
                        color: $font_accent;

                        .header-nav-icon {
                            stroke: $font_accent;
                        }
                    }
    
                    @media (hover: hover) and (pointer: fine) {           
                        &:hover {
                            color: $font_accent;
        
                            .header-nav-icon {
                                stroke: $font_accent;  
                            }
                        }
                    }                
                }
            }

            
        }

        &-icon {
            width: p2r(8);
            height: p2r(8);
            fill: none;                
            stroke: $font_white;
            margin-left: p2r(4);
            transition: stroke 0.3s;
        }

        &-menu {
            background: rgba(11, 11, 11, 0.7);            
            display: none;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -2;            
            
            &-inner {                 
                display: flex;
                max-width: p2r(1206);
                // background: $bg;
                max-height: calc(100vh - 88px);
                border-radius: p2r(40);
                margin-left: auto;
                margin-right: auto;
                margin-top: p2r(72);
                margin-bottom: p2r(16);
                background-color: rgba(16, 51, 43, 0.5);
                backdrop-filter: blur(p2r(32));

                @include tablet {
                    display: none;
                }
            }
           

            ul {
                display: flex;
                flex-direction: column;
            }
        }

        &-submenu {
            display: none;
            position: absolute;
            left: p2r(320);            

            &.active {
                display: flex;
            }
        }
    }

    &-feedback {
        margin-left: auto;        

        @include tablet {
            margin-left: p2r(32);
        }

        @include mobile {
            margin-left: p2r(20);
        }

        &-item {
            display: inline-block;
            vertical-align: baseline;
        }

        &-phone {
            margin-right: p2r(23);
            position: relative;
            transition: color 0.3s;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: $font_white;
    
                    .header-feedback-icon {
                        filter: brightness(10);
                    }
                }
            }

            @include tablet {
                margin-right: 0;
                display: flex;
                z-index: -1;
            }
            
            &::after {
                position: absolute;
                top: 50%;
                right: p2r(-12);
                transform: translate(50%, -50%);
                content: '';
                width: p2r(4);
                height: p2r(4);
                background-color: $font_accent;
                border-radius: 50%;

                @include tablet {
                    display: none;
                }
            }
        }

        &-icon {
            width: p2r(16);
            height: p2r(16);
            fill: none;
            stroke: $font_accent;           
            display: inline-block;
            vertical-align: middle;
            margin-right: p2r(1);
            transition: filter 0.15s;
            margin-bottom: p2r(2);

            @include tablet {
                width: p2r(24);
                height: p2r(24);
                margin-right: 0;
                margin-bottom: 0;
                // filter: brightness(10);
            }

            @include mobile {
                width: p2r(16);
                height: p2r(16);
            }
        }
    }
}

.header-nav-mobile-menu {
    display: none;

    @include tablet {
        overflow-y: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding-top: p2r(74);
        padding-left: p2r(16);
        padding-right: p2r(16);
        padding-bottom: p2r(16);
        background-color: $primary;
        
        // height: 100vh; /* Fallback */
        height: calc(var(--vh, 1vh) * 100);
        // height: -webkit-fill-available;
       

        &.active {
            display: block;
        }
    }

    @include mobile {
        padding-top: p2r(58);
    }
   
}

.mobile {
    &-menu {
        &-item {
            font-size: p2r(16);
            color: $font_white;
            display: flex;
            align-items: center;
            padding-bottom: p2r(16);
            padding-top: p2r(16);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);        

            &:last-of-type {
                border-bottom: none;
            }

            @include mobile {
                font-size: p2r(14);
                padding-bottom: p2r(14);
                padding-top: p2r(14);
            }

            span {
                padding-right: p2r(52);
            }
        }

        &-arrow {
            width: p2r(16);
            height: p2r(16);
            flex: 0 0 p2r(16);
            fill: none;
            margin-left: auto;           
            stroke: $font_white;
            stroke-width: p2r(0.8);            
        }

        &-back {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: p2r(14);
            line-height: 1.2;
            opacity: 0.5;
            padding-bottom: p2r(10);
            margin-bottom: p2r(2);

            @include mobile {
                font-size: p2r(12);
            }

            .mobile-menu-arrow {
                width: p2r(16);
                height: p2r(16);
                stroke: $font_white;
                fill: none;
                stroke-width: p2r(1);
                margin-left: 0;
            }
        }        

        &-header {
            position: relative;
            margin-bottom: p2r(6);
        }

        &-title {
            font-weight: 500;
            font-size: p2r(20);
            line-height: 1.1;
            color: $font_accent;
            margin-bottom: p2r(8);

            @include mobile {
                font-size: p2r(16);
            }
        }

        &-close {
            position: absolute;
            top: p2r(-58);
            right: 0;

            @include mobile {
                top: p2r(-50);
            }

            img {
                width: p2r(24);
                height: p2r(24);                
                z-index: 99;

                @include mobile {
                    width: p2r(20);
                    height: p2r(20);
                }
            }  
        }
    }
}