p {
	margin: 0 0 p2r(28);

	@include tablet {
		font-size: p2r(16);
		margin: 0 0 p2r(18);
	}
}
ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h20 {
	font-family: $second_font;
	font-weight: $headings_font_weight;
	color: $font_white;
	margin: $headings_margin;
	text-transform: $headings_text_transform;
	line-height: 1.2;	
}

h1, .h1 {
	font-size: p2r($h1);
	margin-top: 0;
	line-height: 1;	
}
h2, .h2, .ui-h2 {
	font-size: p2r($h2);
	line-height: 1.2;	
}
h3, .h3, .ui-h3 {
	font-size: p2r($h2);
	line-height: 1.2;	
}
h4, .h4, .ui-h4 {
	font-size: p2r($h4);
}
h5, .h5 {
	font-size: p2r($h5);
}
h6, .h6, .ui-h6 {
	font-size: p2r($h6);
	text-transform: none;
	font-weight: 700;
}
.ui-strong,
.ui-bold {
	font-weight: 700;
}
.ui-demi {
	font-weight: 600;
}


a {
	color: $link;
	text-decoration: none;
	outline: none;
	transition: color .3s, border .3s;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			color: $link_hover;		
		}
	}
}
b, strong {
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $border;
  overflow: hidden;
}

table {
	border-collapse: collapse;
}
.wrapper a img {
	border: none;
	display: block;
	line-height: 0;
	font-size: 0;
}
/*---- ICONS ---- */

::selection {
	background: $font_black;
	color: #FFF;
}
::-moz-selection {
	background: $font_black;
	color: #FFF;	
}
@media (min-width: 992px) {
	::-webkit-scrollbar {
		width: p2r(8);
		height: p2r(8);		
		// background: transparent
	}
	::-webkit-scrollbar-thumb {
		width: p2r(8);
		height: p2r(8);
		background-color: $accent;
	}
	::-webkit-scrollbar-thumb:hover {
		background: lighten($accent, 8%);
	}
}

.font-accent {
	color: $font_accent;
}

.ui-noise {	
	background-repeat: repeat;
	background-size: 70px 70px;	
	// background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.5' numOctaves='1.5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)' opacity='0.08'/%3E%3C/svg%3E");
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.4' numOctaves='1.5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)' opacity='0.08'/%3E%3C/svg%3E");
	
	background-color: #2f3d30;	
}

.ui-noise-png {	
	background-repeat: repeat;
	background-size: p2r(100) p2r(100);		
	background-image: url(../images/ui-noise.png);
	mix-blend-mode: soft-light
}

// .fixed {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// }

.sticky-wrapper {
	overflow: hidden;
	position: relative;
  }
  
  .sticky-elem {
	width: 100%;
  }

.hidden-desktop {
	@include desktop {
		display: none !important;
	}
}

.hidden-tablet {
	@include tablet {
		display: none !important;
	}
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	display: none;
	
	@include mobile {
		display: inherit !important;
	}
}

.ui-btn {
	font-size: p2r(24);
	color: $font_accent;
	outline: none;
	border: none;
	font-family: $second_font;
	display: inline-block;	
	background: $primary;	
	backdrop-filter: blur(p2r(16));	
	border-radius: p2r(40);
	height: p2r(72);
	line-height: p2r(72);
	padding-left: p2r(32);
	padding-right: p2r(32);
	cursor: pointer;
	transition: color 0.3s;

	&-icon {
		fill: none;
		height: p2r(24);
		max-width: p2r(48);
		display: inline-block;
		vertical-align: middle;
		margin-left: p2r(12);
		transition: filter 0.15s;
		margin-top: p2r(-4);

		@include tablet {
			height: p2r(16);
			max-width: p2r(32);
			margin-left: p2r(8);
		}
		
		@include mobile {
			margin-left: p2r(8);
		}
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			color: $font_white;

			.ui-btn-icon {
				filter: brightness(10);
			}
		}
	}

	@include tablet {
		font-size: p2r(20);
		height: p2r(54);
		line-height: p2r(54);
		padding-left: p2r(24);
		padding-right: p2r(24);
	}

	@include mobile {
		font-size: p2r(16);
		height: p2r(51);
		line-height: p2r(51);
		padding-left: p2r(16);
		padding-right: p2r(16);
	}
	
	&-min {
		font-size: p2r(16);
		font-family: $basefont;
		height: p2r(47);
		line-height: p2r(47);

		@include tablet {
			font-size: p2r(14);
			height: p2r(45);
			line-height: p2r(45);
		}

		@include mobile {
			font-size: p2r(12);
			height: p2r(42);
			line-height: p2r(42);
		}
	}

	&-transparent {		
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.4' numOctaves='1.5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)' opacity='0.08'/%3E%3C/svg%3E");
		background-color:  rgba(16, 51, 43, 0.5);	
	}

	&-opacity {
		background-color: transparent;		
		backdrop-filter: unset;
		padding: 0;
		height: max-content;
		line-height: 1;
	}

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.info-title {	
	margin-left: p2r(181);
	max-width: p2r(697);
	font-size: p2r(88);
	line-height: 0.85;
	margin-top: p2r(48);   
	margin-bottom: p2r(80);
	
	@include tablet {
		margin-left: 0;     
		font-size: p2r(48);
		margin-top: 0;
		margin-bottom: p2r(40);
	}

	@include mobile {
		font-size: p2r(40);
		margin-top: p2r(24);
		margin-bottom: p2r(32);
	}

	&__long {
		@include mobile {
			font-size: p2r(32);			
		}
	}

	&__longest {
		@include mobile {
			font-size: p2r(28);			
		}
	}
}

.ui-back {
	position: relative;
	font-size: p2r(14);
	display: inline-block;
	vertical-align: middle;
	color: $font_white;
	z-index: 2;

	@include mobile {
		font-size: p2r(12);
		margin-left: p2r(-7);
	}
	
	&-icon {
		width: p2r(16);
		height: p2r(16);
		fill: none;
		stroke: $font_white;
		margin-right: p2r(2);
		display: inline-block;
		vertical-align: middle;
		margin-top: p2r(-2);
	}
}

.breadcrumbs {
	margin-bottom: p2r(12);
	ul {
		font-size: p2r(14);
		display: flex;
		align-items: center;

		li {
			position: relative;			
			
			a {
				color: $font_white;				
			}

			&:not(:last-of-type), &:first-of-type {
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					right: p2r(-18);
					transform: translate(50%, -50%);
					background-image: url(../images/svg/arrow-right.svg);
					background-repeat: no-repeat;
					background-size: p2r(8) p2r(8);		
					width: p2r(8);
					height: p2r(8);
				}

				@media (hover: hover) and (pointer: fine) {
					a {
						&:hover {
							color: $font_accent
						}
					}
				}
			}

			&:last-of-type {
				a {
					opacity: 0.3;
					cursor: default;
					pointer-events: none;
				}
			}

			&:first-of-type {
				a {
					opacity: 1;
				}				
			}
		}

		li + li {
			margin-left: p2r(32);
			width: max-content;
		}
	}

	&__black {
		
		ul {
			li {				
				a {
					color: $font_black;				
				}

				&:not(:last-of-type), &:first-of-type {
					&::after {						
						background-image: url(../images/svg/arrow-right-orange.svg);
					}
				}				
			}

			li + li {
				margin-left: p2r(32);
				width: max-content;
			}
		}
	}
}

.text-collapse:not(.not-collapse) {
	position: relative;
	overflow: hidden;
	transition: max-height 0.5s, opacity 0.5s;
	cursor: pointer;

	&.show {
		&::after {
			opacity: 0;
		}
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: p2r(64);
		background: linear-gradient(0deg, rgb(244, 240, 236) 6%, rgba(255, 255, 255, 0));
		pointer-events: none;	
		transition: opacity 0.5s;
		opacity: 1;

		@include tablet {
			display: none;
		}
	}
}

.text-expand {
	border: none;
	outline: none;
	background-color: transparent;
	padding-top: p2r(10);
	padding-bottom: p2r(4);		
	font-weight: 500;
	font-size: p2r(16);
	color: $font_accent;
	display: inline-block;
	vertical-align: middle;

	&-icon {
		width: p2r(16);
		height: p2r(16);
		fill: none;
		stroke: $font_accent;
		display: inline-block;
		vertical-align: middle;
		margin-left: p2r(2);
		transition: transform 0.3s;
	}
}

.mfp-popup {
	@include mobile {
		width: 100% !important;
	}
}

.mfp-container {
	padding-left: 0;
	padding-right: 0;
}

.mfp-inner {
	border-radius: p2r(40);	
	overflow: hidden;

	@include tablet {
		border-radius: 0;
		max-height: 100vh;
		overflow: auto;
	}
}

.mfp-close-btn-in .mfp-close {
	font-size: 0;
	background-image: url(../images/svg/cross.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: p2r(28);
	height: p2r(28);
	background-size: p2r(16) p2r(16);
	opacity: 1;
	right: p2r(32);
	top: p2r(32);

	@include tablet {		
		right: p2r(12);
		top: p2r(44);		
	}

	@include mobile {
		right: p2r(8);
		top: p2r(4);
	}
}

// .mfp-bg {
// 	z-index: 999;
// 	opacity: 0.75;
// }

.side-spase {
	position: relative;

	@include tablet {
		position: static;
	}
}

.float {
	position: fixed;
	top: p2r(80);
	z-index: 2;  
	
	
	@include tablet {
		top: p2r(40);		
	}

	@include mobile {
		top: p2r(20);		
	}	
}

.flip-bottom {
	position: absolute;
	top: auto;
	bottom: 0;
	z-index: 2;
}

.pagination {
	font-size: p2r(20);
	display: flex;
	align-items: center;
	justify-content: space-between;
	

	@include tablet {
		font-size: p2r(16);
	}

	@include mobile {
		font-size: p2r(14);
		flex-direction: column;
	}

	&-more {		
		display: flex;
		align-items: center;
		color: $font_black;		
		padding: p2r(20) p2r(32);		
		background-color: $bg_light;
		backdrop-filter: blur(p2r(16));		
		border-radius: p2r(40);
		transition: background-color 0.3s;
		
		@media (hover: hover) and (pointer: fine) {
			&:hover {
			  background-color: $accent;
			  color: $font_black;	
			}
		}

		@include tablet {			
			padding: p2r(16);
		}

		@include mobile {			
			width: 100%;
			margin-bottom: p2r(8);
			justify-content: center;
		}

		span {
			margin-left: p2r(6);
			margin-right: p2r(12);

			@include tablet {
				margin-left: p2r(3);
				margin-right: p2r(9);
			}
		}

		&-icon {
			fill: none;
			stroke: $font_black;
			width: p2r(24);
			height: p2r(24);
			stroke-width: p2r(0.4);
			display: inline-block;
			vertical-align: middle;
			
			@include tablet {
				width: p2r(16);
				height: p2r(16);
				margin-top: p2r(-3);
			}
		}
	}

	&-nav {
		display: flex;
		align-items: center;
		padding: p2r(20) p2r(40);		
		background-color: $bg_light;
		backdrop-filter: blur(p2r(16));		
		border-radius: p2r(40);

		@include tablet {			
			padding: p2r(16) p2r(24);
		}

		@include mobile {			
			padding: p2r(16) p2r(20);
		}
	}

	&-list {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: p2r(48);
		padding-right: p2r(48);

		@include tablet {
			padding-left: p2r(36);
			padding-right: p2r(36);
		}

		@include mobile {
			padding-left: p2r(20);
			padding-right: p2r(20);
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: p2r(24);
			transform: translate(-50%, -50%);
			width: p2r(4);
			height: p2r(4);
			border-radius: 50%;
			background: rgba(233, 181, 102, 0.5);
			
			@include tablet {
				left: p2r(19);
			}

			@include mobile {
				left: p2r(10);
			}
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: p2r(24);
			transform: translate(50%, -50%);
			width: p2r(4);
			height: p2r(4);
			border-radius: 50%;			
			background: rgba(233, 181, 102, 0.5);
			
			@include tablet {
				right: p2r(19);
			}

			@include mobile {
				right: p2r(10);
			}
		}
	}

	&-item {
		margin-right: p2r(18);

		@include tablet {
			margin-right: p2r(12);
		}

		&:last-child {
			margin-right: 0;
		}
		
		&-nav {
			display: flex;
			align-items: center;
			color: $font_black;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
				  	color: $font_accent;

					.pagination-item-nav-icon {
						stroke: $font_accent;					
					}
				}
			}

			&-icon {				
				width: p2r(10);
				height: p2r(20);
				fill: none;
				stroke: $font_black;
				stroke-width: p2r(1);
				transition: stroke 0.3s;

				@include tablet {
					height: p2r(16);
					width: p2r(7);
				}

				&__prew {
					margin-right: p2r(14);

					@include tablet {
						margin-right: p2r(8);
					}
				}

				&__next {
					margin-left: p2r(14);

					@include tablet {
						margin-left: p2r(8);
					}
				}
			}
		}

		&-link {
			color: $font_black;

			&.active {
				color: $font_accent;
				pointer-events: none;
			}

			@media (hover: hover) and (pointer: fine) {
				&:hover {
				  	color: $font_accent;					
				}
			}   
		}
	}

	&-dots {
		margin-right: p2r(12);

		@include tablet {
			margin-right: p2r(14);
		}
	}
}

// .inputs-wrapper {
// 	display: flex;
// 	flex-wrap: wrap;
// 	border-radius: p2r(24);
// 	overflow: hidden;
// }

// .input-item {
// 	width: 100%;
// 	flex: 0 0 100%;

// 	&__half {
// 		width: 50%;
// 		flex: 0 0 50%;
// 		border-bottom: p2r(4) solid transparent;

// 		&:first-of-type {
// 			border-right: p2r(4) solid transparent;
// 		}

// 		&:last-of-type {
// 			border-left: p2r(4) solid transparent;
// 		}
// 	}
// }

// .ui-field {
// 	position: relative;
// 	padding-top: p2r(35);
// 	padding-bottom: p2r(16);
// 	background-color: $bg;

// 	&.required {
// 		&::before {
// 			position: absolute;
// 			left: p2r(16);
// 			top: 50%;
// 			transform: translateY(-50%);			
// 			content: '';
// 			background-image: url(../images/svg/star.svg);
// 			background-repeat: no-repeat;
// 			background-position: center;
// 			background-size: p2r(8) p2r(9);
// 			width: p2r(8);
// 			height: p2r(9);
// 			z-index: 1;
// 		}
// 	}

// 	&__textarea {
// 		&.required {
// 			&::before {					
// 				top: p2r(20);				
// 			}
// 		}
// 	}

// 	label.error {					
// 		font-size: p2r(14);
// 		line-height: 1.2;
// 		color: $error;
// 		padding-left: p2r(36);
// 	}
// }

// .ui-field.required > .ui-input:focus + .ui-label,
// .ui-field.required > .ui-input:valid + .ui-label {
// 	transform: translateY(-100%) scale(.65);
// 	padding-left: p2r(16);
// }

// .ui-field.required > .ui-textarea:focus + .ui-label,
// .ui-field.required > .ui-textarea:valid + .ui-label {
// 	transform: translateY(-100%) scale(.65);
// 	padding-left: p2r(16);
// }

// .ui-label {
// 	position: absolute;
// 	left: 0;
// 	top: 50%;
// 	transform: translateY(-50%);	
// 	font-size: p2r(20);
// 	line-height: 1.2;
// 	opacity: 0.5;
// 	padding-left: p2r(36);
// 	padding-right: p2r(36);
// 	transition: transform 0.3s;

// 	&__textarea {
// 		top: p2r(26);
// 	}
// }

// .ui-input {
// 	display: block;
// 	background-color: $bg;
// 	border: none;
// 	outline: none;
// 	color: $font_white;
// 	position: relative;
// 	padding-left: p2r(36);
// 	padding-right: p2r(36);
// }

// .ui-textarea {
// 	display: block;
// 	background-color: $bg;
// 	border: none;
// 	outline: none;
// 	color: $font_white;
// 	position: relative;
// 	padding-left: p2r(36);
// 	padding-right: p2r(36);
// 	resize: none;
// 	width: 100%;
// 	height: p2r(100);
// }

// .ui-checkbox {
// 	width: p2r(48);
// 	height: p2r(48);
// 	background-color: $bg;
// 	border-radius: p2r(12);
// 	border: 1px solid $bg;
// 	cursor: pointer;

// 	&.checked {
// 		background-image: url(../images/svg/checked.svg);
// 		background-repeat: no-repeat;
// 		background-size: p2r(24);
// 		background-position: center;
// 	}

// 	&.error {
// 		border-color: #E22E2E;
// 	}
// }



.inputs-wrapper {
	display: flex;
	flex-wrap: wrap;
	border-radius: p2r(24);
	overflow: hidden;
}

.input-item {
	width: 100%;
	height: p2r(75);
	flex: 0 0 100%;

	@include tablet {
		height: p2r(59);
	}

	&__half {
		width: 50%;
		flex: 0 0 50%;		

		& + .textarea-item {
			margin-top: p2r(4);

			@include tablet {
				margin-top: p2r(7);
			}
		}

		@include mobile {
			width: 100%;
			flex: 0 0 100%;
		}

		&:first-of-type {
			border-right: p2r(4) solid transparent;

			@include mobile {
				border-right: none;
				margin-bottom: p2r(4);
			}
		}

		&:last-of-type {
			border-left: p2r(4) solid transparent;

			@include mobile {
				border-left: none;
			}
		}
	}
}

.textarea-item {
	width: 100%;
	height: p2r(200);
	flex: 0 0 100%;
	

	@include tablet {
		height: p2r(130);
	}
}

.ui-field {
	position: relative;
	background-color: $bg;
	height: 100%;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			.ui-label {
				color: $font_accent;
			}
		}
	}


	&.required {
		&::before {
			position: absolute;
			left: p2r(16);
			top: 50%;
			transform: translateY(-50%);			
			content: '';
			background-image: url(../images/svg/star.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: p2r(8) p2r(9);
			width: p2r(8);
			height: p2r(9);
			z-index: 1;
		}
	}

	&__input {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__textarea {	
		padding-top: p2r(16);
		padding-bottom: p2r(16);

		display: flex;
		flex-direction: column;

		@include tablet {
			padding-top: p2r(14);
			padding-bottom: p2r(14);
		}
		

		&.required {
			&::before {					
				top: p2r(20);				
			}
		}

		label.error {					
			margin-top: auto;
		}
	}

	label.error {					
		font-size: p2r(14);
		line-height: 1.2;
		color: $error;
		padding-left: p2r(36);

		@include tablet {
			font-size: p2r(12);
			bottom: p2r(4);
		}
	}
}

.ui-field__input.required.input-active > .ui-label {
	position: relative;
	transform: translateX(p2r(-32)) translateY(0%) scale(.75);

	@include tablet {
		transform: translateX(p2r(-32)) translateY(p2r(0)) scale(.7);
	}
}

.ui-field__textarea.required.input-active > .ui-label {
	transform: translateX(p2r(-18)) translateY(p2r(-14)) scale(.75);

	@include tablet {
		transform: translateX(p2r(-16)) translateY(p2r(-18)) scale(.7);
	}

	@include mobile {
		transform: translateX(p2r(-16)) translateY(p2r(-16)) scale(.7);
	}
	
}

.ui-label {
	position: relative;
	z-index: 1;
	left: 0;
	transform: translateY(0%);	
	font-size: p2r(20);
	line-height: 1.2;
	opacity: 0.5;
	padding-left: p2r(36);
	padding-right: p2r(36);
	transition: transform 0.3s, color 0.3s;	

	transform: translateY(0%);	
	position: absolute;	
		
	@include tablet {
		font-size: p2r(16);
	}
}

.ui-input {
	display: block;
	background-color: $bg;
	border: none;
	outline: none;
	color: $font_white;
	position: relative;
	padding-left: p2r(36);
	padding-right: p2r(36);
	margin-bottom: p2r(4);	

	@include tablet {
		font-size: p2r(16);
	}
}

.ui-field__input:not(.input-active):has(.ui-input.error) .ui-label {
    transform: translateY(-30%);
}

.ui-textarea {
	display: block;
	background-color: $bg;
	border: none;
	outline: none;
	color: $font_white;
	position: relative;
	padding-left: p2r(36);
	padding-right: p2r(36);
	resize: none;
	width: 100%;
	flex-grow: 1;
	padding-top: p2r(8);	

	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 0;
		height: 0;
		display: none;
	}

	@include tablet {
		font-size: p2r(16);
		transform: translateY(p2r(-18));
		padding-top: p2r(18);
	}
}

.ui-checkbox {
	width: p2r(48);
	height: p2r(48);
	flex: 0 0 p2r(48);
	background-color: $bg;
	border-radius: p2r(12);
	border: 1px solid $bg;
	cursor: pointer;

	@include tablet {
		width: p2r(40);
		height: p2r(40);
		flex: 0 0 p2r(40);
		border-radius: p2r(8);
	}

	&.checked {
		background-image: url(../images/svg/checked.svg);
		background-repeat: no-repeat;
		background-size: p2r(24);
		background-position: center;

		@include tablet {
			background-size: p2r(20);
		}
	}

	&:not(.checked):has(> .ui-checkbox.error) {
		border-color: $error;
	}	
}

#agree-error {
	display: none !important;
}




/* Стили для попапа, выезжающего слева */
// .my-mfp-slide-left .mfp-content {
// 	opacity: 0;
// 	transition: all 0.3s ease-in-out;
// 	transform: translateX(-100%);
//   }
  
//   .my-mfp-slide-left.mfp-ready .mfp-content {
// 	opacity: 1;
// 	transform: translateX(0);
//   }
  
//   .my-mfp-slide-left.mfp-removing .mfp-content {
// 	opacity: 0;
// 	transform: translateX(-100%);
//   }
  
//   .my-mfp-slide-left.mfp-bg {
// 	opacity: 0;
// 	transition: all 0.3s ease-out;
//   }
  
//   .my-mfp-slide-left.mfp-ready.mfp-bg {
// 	opacity: 0.8;
//   }
  
//   .my-mfp-slide-left.mfp-removing.mfp-bg {
// 	opacity: 0;
//   }

/* Скрываем стандартное сообщение о загрузке */
.mfp-preloader {
    display: none !important;
}
/* Стили для контейнера прелоадера */
.mfp-s-loading .mfp-content {
    display: none;
}

.custom-preloader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2999;
}
.custom-preloader svg {
	animation: spin 1s linear infinite;
	width: p2r(50);
	height: p2r(50);
	stroke: $font_accent;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}