p {
	margin: 0 0 p2r(28);

	@include tablet {
		font-size: p2r(16);
		margin: 0 0 p2r(18);
	}
}
ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h20 {
	font-family: $second_font;
	font-weight: $headings_font_weight;
	color: $font_white;
	margin: $headings_margin;
	text-transform: $headings_text_transform;
	line-height: 1.2;	
}

h1, .h1 {
	font-size: p2r($h1);
	margin-top: 0;
	line-height: 1;	
}
h2, .h2, .ui-h2 {
	font-size: p2r($h2);
	line-height: 1.2;	
}
h3, .h3, .ui-h3 {
	font-size: p2r($h2);
	line-height: 1.2;	
}
h4, .h4, .ui-h4 {
	font-size: p2r($h4);
}
h5, .h5 {
	font-size: p2r($h5);
}
h6, .h6, .ui-h6 {
	font-size: p2r($h6);
	text-transform: none;
	font-weight: 700;
}
.ui-strong,
.ui-bold {
	font-weight: 700;
}
.ui-demi {
	font-weight: 600;
}


a {
	color: $link;
	text-decoration: none;
	outline: none;
	transition: color .3s, border .3s;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			color: $link_hover;		
		}
	}
}
b, strong {
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $border;
  overflow: hidden;
}

table {
	border-collapse: collapse;
}
.wrapper a img {
	border: none;
	display: block;
	line-height: 0;
	font-size: 0;
}
/*---- ICONS ---- */

::selection {
	background: $font_black;
	color: #FFF;
}
::-moz-selection {
	background: $font_black;
	color: #FFF;	
}
@media (min-width: 992px) {
	::-webkit-scrollbar {
		width: p2r(8);
		height: p2r(8);		
		// background: transparent
	}
	::-webkit-scrollbar-thumb {
		width: p2r(8);
		height: p2r(8);
		background-color: $accent;
	}
	::-webkit-scrollbar-thumb:hover {
		background: lighten($accent, 8%);
	}
}

.font-accent {
	color: $font_accent;
}

.ui-noise {	
	background-repeat: repeat;
	background-size: 70px 70px;	
	// background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.5' numOctaves='1.5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)' opacity='0.08'/%3E%3C/svg%3E");
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.4' numOctaves='1.5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)' opacity='0.08'/%3E%3C/svg%3E");
	
	background-color: #2f3d30;	
}

.ui-noise-png {	
	background-repeat: repeat;
	background-size: p2r(100) p2r(100);		
	background-image: url(../images/ui-noise.png);
	mix-blend-mode: soft-light
}

// .fixed {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// }

.sticky-wrapper {
	overflow: hidden;
	position: relative;
  }
  
  .sticky-elem {
	width: 100%;
  }

.hidden-desktop {
	@include desktop {
		display: none !important;
	}
}

.hidden-tablet {
	@include tablet {
		display: none !important;
	}
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	display: none;
	
	@include mobile {
		display: inherit !important;
	}
}

.ui-btn {
	font-size: p2r(24);
	color: $font_accent;
	outline: none;
	border: none;
	font-family: $second_font;
	display: inline-block;	
	background: $primary;	
	backdrop-filter: blur(p2r(16));	
	border-radius: p2r(40);
	height: p2r(72);
	line-height: p2r(72);
	padding-left: p2r(32);
	padding-right: p2r(32);
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;

	&-icon {
		fill: none;
		height: p2r(24);
		max-width: p2r(48);
		display: inline-block;
		vertical-align: middle;
		margin-left: p2r(12);
		transition: filter 0.15s, stroke 0.3s;
		margin-top: p2r(-4);
		stroke: $font_accent;

		@include tablet {
			height: p2r(16);
			max-width: p2r(32);
			margin-left: p2r(4);
			margin-top: p2r(-1);
		}
		
		@include mobile {
			margin-left: p2r(4);
		}
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			color: $font_white;

			.ui-btn-icon {				
				stroke: $font_white;
			}
		}
	}

	@include tablet {
		font-size: p2r(20);
		height: p2r(54);
		line-height: p2r(54);
		padding-left: p2r(24);
		padding-right: p2r(24);
	}

	@include mobile {
		font-size: p2r(16);
		height: p2r(51);
		line-height: p2r(51);
		padding-left: p2r(16);
		padding-right: p2r(16);
	}

	&__base {
		font-family: $basefont;
	}

	&-mid {
		font-size: p2r(20);
		font-family: $basefont;
		height: p2r(64);
		line-height: p2r(64);

		@include tablet {
			font-size: p2r(16);
			height: p2r(51);
			line-height: p2r(51);
			padding-left: p2r(16);
			padding-right: p2r(16);
		}
	}
	
	&-min {
		font-size: p2r(16);
		font-family: $basefont;
		height: p2r(47);
		line-height: p2r(47);

		@include tablet {
			font-size: p2r(14);
			height: p2r(45);
			line-height: p2r(45);
		}

		@include mobile {
			font-size: p2r(12);
			height: p2r(42);
			line-height: p2r(42);
		}
	}

	&-accent {
		background-color: $accent;
		color: $font_white;
		letter-spacing: 0.02em;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: #DEA44D;				
			}
		}

		.ui-btn-icon {
			stroke: $font_white;			
		}
	}

	&-bright {
		background-color: $bg_light;
		backdrop-filter: blur(p2r(16));
		color: $font_black;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: $accent;
				color: $font_black;

				.ui-btn-icon {
					stroke: $font_black;					
				}
			}
		}

		.ui-btn-icon {
			stroke: $font_black;

			&__accent {
				stroke: $font_accent;
			}
		}
	}

	&-light {
		background: #344135;
		backdrop-filter: blur(p2r(16));
	}

	&-transparent {		
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.4' numOctaves='1.5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)' opacity='0.08'/%3E%3C/svg%3E");
		background-color:  rgba(16, 51, 43, 0.5);	
	}

	&-opacity {
		background-color: transparent;		
		backdrop-filter: unset;
		padding: 0;
		height: max-content;
		line-height: 1;
	}

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.info-title {	
	margin-left: p2r(181);
	max-width: p2r(697);
	font-size: p2r(88);
	line-height: 0.85;
	margin-top: p2r(48);   
	margin-bottom: p2r(80);
	
	@include tablet {
		margin-left: 0;     
		font-size: p2r(48);
		margin-top: 0;
		margin-bottom: p2r(40);
	}

	@include mobile {
		font-size: p2r(40);
		margin-top: p2r(24);
		margin-bottom: p2r(32);
	}

	&__long {
		@include mobile {
			font-size: p2r(32);			
		}
	}

	&__longest {
		@include mobile {
			font-size: p2r(28);			
		}
	}
}

.ui-back {
	position: relative;
	font-size: p2r(14);
	display: inline-block;
	vertical-align: middle;
	color: $font_white;
	z-index: 2;

	@include mobile {
		font-size: p2r(12);
		margin-left: p2r(-7);
	}
	
	&-icon {
		width: p2r(16);
		height: p2r(16);
		fill: none;
		stroke: $font_white;
		margin-right: p2r(2);
		display: inline-block;
		vertical-align: middle;
		margin-top: p2r(-2);
	}
}

.breadcrumbs {
	margin-bottom: p2r(12);
	ul {
		font-size: p2r(14);
		display: flex;
		align-items: center;

		li {
			position: relative;			
			
			a {
				color: $font_white;				
			}

			&:not(:last-of-type), &:first-of-type {
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					right: p2r(-18);
					transform: translate(50%, -50%);
					background-image: url(../images/svg/arrow-right.svg);
					background-repeat: no-repeat;
					background-size: p2r(8) p2r(8);		
					width: p2r(8);
					height: p2r(8);
				}

				@media (hover: hover) and (pointer: fine) {
					a {
						&:hover {
							color: $font_accent
						}
					}
				}
			}

			&:last-of-type {
				a {
					opacity: 0.3;
					cursor: default;
					pointer-events: none;
				}
			}

			&:first-of-type {
				a {
					opacity: 1;
				}				
			}
		}

		li + li {
			margin-left: p2r(32);
			width: max-content;
		}
	}

	&__black {
		
		ul {
			li {				
				a {
					color: $font_black;				
				}

				&:not(:last-of-type), &:first-of-type {
					&::after {						
						background-image: url(../images/svg/arrow-right-orange.svg);
					}
				}				
			}

			li + li {
				margin-left: p2r(32);
				width: max-content;
			}
		}
	}
}

.text-collapse:not(.not-collapse) {
	position: relative;
	overflow: hidden;
	transition: max-height 0.5s, opacity 0.5s;
	cursor: pointer;

	&.show {
		&::after {
			opacity: 0;
		}
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: p2r(64);
		background: linear-gradient(0deg, rgb(244, 240, 236) 6%, rgba(255, 255, 255, 0));
		pointer-events: none;	
		transition: opacity 0.5s;
		opacity: 1;

		@include tablet {
			display: none;
		}
	}
}

.text-expand {
	border: none;
	outline: none;
	background-color: transparent;
	padding-top: p2r(10);
	padding-bottom: p2r(4);		
	font-weight: 500;
	font-size: p2r(16);
	color: $font_accent;
	display: inline-block;
	vertical-align: middle;

	&.hidden {
		display: none;
	}

	&.show {

		.text-expand-icon {
			transform: rotate(180deg);
		}
	}

	&-icon {
		width: p2r(16);
		height: p2r(16);
		fill: none;
		stroke: $font_accent;
		display: inline-block;
		vertical-align: middle;
		margin-left: p2r(2);
		transition: transform 0.3s;
	}

	&__min {
		font-size: p2r(14);

		.text-expand-icon {
			margin-top: p2r(-4);

			@include mobile {
				margin-top: 0;
			}
		}
	}
}

.mfp-popup {
	@include mobile {
		width: 100% !important;
	}
}

.mfp-container {
	padding-left: 0;
	padding-right: 0;
}

.mfp-inner {
	border-radius: p2r(40);	
	overflow: hidden;

	@include tablet {
		border-radius: 0;
		max-height: 100vh;
		overflow: auto;
	}
}

.mfp-close-btn-in .mfp-close {
	font-size: 0;
	background-image: url(../images/svg/cross.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: p2r(28);
	height: p2r(28);
	background-size: p2r(16) p2r(16);
	opacity: 1;
	right: p2r(32);
	top: p2r(32);
	filter: brightness(10);
	transition: filter 0.15s, background-image 0.3s;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			filter: brightness(1);
		}
	}

	@include tablet {		
		right: p2r(12);
		top: p2r(44);		
	}

	@include mobile {
		right: p2r(8);
		top: p2r(4);
	}
}

// .mfp-bg {
// 	z-index: 999;
// 	opacity: 0.75;
// }

.side-spase {
	position: relative;

	@include tablet {
		position: static;
	}
}

.float {
	position: fixed;
	top: p2r(80);
	z-index: 2;  
	
	
	@include tablet {
		top: p2r(40);		
	}

	@include mobile {
		top: p2r(20);		
	}	
}

.flip-bottom {
	position: absolute;
	top: auto;
	bottom: 0;
	z-index: 2;
}

.pagination {
	font-size: p2r(20);
	display: flex;
	align-items: center;
	justify-content: space-between;
	

	@include tablet {
		font-size: p2r(16);
	}

	@include mobile {
		font-size: p2r(14);
		flex-direction: column;
	}

	&-more {		
		display: flex;
		align-items: center;
		color: $font_black;		
		padding: p2r(20) p2r(32);		
		background-color: $bg_light;
		backdrop-filter: blur(p2r(16));		
		border-radius: p2r(40);
		transition: background-color 0.3s;
		
		@media (hover: hover) and (pointer: fine) {
			&:hover {
			  background-color: $accent;
			  color: $font_black;	
			}
		}

		@include tablet {			
			padding: p2r(16);
		}

		@include mobile {			
			width: 100%;
			margin-bottom: p2r(8);
			justify-content: center;
		}

		span {
			margin-left: p2r(6);
			// margin-right: p2r(12);

			@include tablet {
				margin-left: p2r(3);
				// margin-right: p2r(9);
			}
		}

		&-icon {
			fill: none;
			stroke: $font_black;
			width: p2r(24);
			height: p2r(24);
			stroke-width: p2r(0.4);
			display: inline-block;
			vertical-align: middle;

			margin-left: p2r(12);
			
			@include tablet {
				width: p2r(16);
				height: p2r(16);
				margin-top: p2r(-3);
				margin-left: p2r(9);
			}
		}
	}

	&-nav {
		display: flex;
		align-items: center;
		padding: p2r(20) p2r(40);		
		background-color: $bg_light;
		backdrop-filter: blur(p2r(16));		
		border-radius: p2r(40);

		@include tablet {			
			padding: p2r(16) p2r(24);
		}

		@include mobile {			
			padding: p2r(16) p2r(20);
		}
	}

	&-list {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: p2r(48);
		padding-right: p2r(48);

		@include tablet {
			padding-left: p2r(36);
			padding-right: p2r(36);
		}

		@include mobile {
			padding-left: p2r(20);
			padding-right: p2r(20);
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: p2r(24);
			transform: translate(-50%, -50%);
			width: p2r(4);
			height: p2r(4);
			border-radius: 50%;
			background: rgba(233, 181, 102, 0.5);
			
			@include tablet {
				left: p2r(19);
			}

			@include mobile {
				left: p2r(10);
			}
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: p2r(24);
			transform: translate(50%, -50%);
			width: p2r(4);
			height: p2r(4);
			border-radius: 50%;			
			background: rgba(233, 181, 102, 0.5);
			
			@include tablet {
				right: p2r(19);
			}

			@include mobile {
				right: p2r(10);
			}
		}
	}

	&-item {
		margin-right: p2r(18);

		@include tablet {
			margin-right: p2r(12);
		}

		@include mobile{
			font-size: p2r(14);
		}

		&:last-child {
			margin-right: 0;
		}
		
		&-nav {
			display: flex;
			align-items: center;
			color: $font_black;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
				  	color: $font_accent;

					.pagination-item-nav-icon {
						stroke: $font_accent;					
					}
				}
			}

			&.disabled {
				opacity: 0.5;
				pointer-events: none;
			}

			&-icon {				
				width: p2r(10);
				height: p2r(20);
				fill: none;
				stroke: $font_black;
				stroke-width: p2r(1);
				transition: stroke 0.3s;

				@include tablet {
					height: p2r(16);
					width: p2r(7);
				}

				&__prew {
					margin-right: p2r(14);

					@include tablet {
						margin-right: p2r(8);
					}
				}

				&__next {
					margin-left: p2r(14);

					@include tablet {
						margin-left: p2r(8);
					}
				}
			}
		}

		&-link {
			color: $font_black;

			&.active {
				color: $font_accent;
				pointer-events: none;
			}

			@media (hover: hover) and (pointer: fine) {
				&:hover {
				  	color: $font_accent;		
					opacity: 0.5;			
				}
			}   
		}
	}

	&-dots {
		margin-right: p2r(12);
		color: $font_black;

		@include tablet {
			margin-right: p2r(14);
		}
	}

	&__dark {

		.pagination {
			&-more {
				background-color: $primary;
				backdrop-filter: blur(p2r(16));
				color: $font_accent;
				transition: color 0.3s;

				&-icon {
					stroke: $font_accent;
					transition: stroke 0.3s;

					@include tablet {
						margin-top: p2r(-1);
						margin-left: p2r(7);
					}

					@include mobile {
						margin-top: p2r(-4);
						margin-left: p2r(6);
					}
				}

				@media (hover: hover) and (pointer: fine) {
					&:hover {
						color: $font_white;
						
						.pagination-more-icon {
							stroke: $font_white;
						}
					}
				}   
			}

			&-list {
				&::before, &::after {
					background: $font_white;
					opacity: 0.5;
				}
			}

			&-nav {
				background-color: $primary;
				backdrop-filter: blur(p2r(16));
			}

			&-item {
				margin-right: p2r(12);

				&:last-of-type {
					margin-right: 0;
				}

				&-nav {
					color: $font_accent;

					@media (hover: hover) and (pointer: fine) {
						&:hover {
							color: $font_white;

							.pagination-item-nav-icon {
								stroke: $font_white;
							}
						}
					}

					&-icon {
						stroke: $font_accent;
					}
				}

				&-link {
					color: $font_accent;
					transition: color 0.3s opacity 0.3s;

					&.active {
						color: $font_white;
					}

					@media (hover: hover) and (pointer: fine) {
						&:hover {
							color: $font_white;		
							opacity: 0.5;			
						}
					}   
				}

				&-dots {
					color: $font_white;
				}
			}
		}
	}
}

// .inputs-wrapper {
// 	display: flex;
// 	flex-wrap: wrap;
// 	border-radius: p2r(24);
// 	overflow: hidden;
// }

// .input-item {
// 	width: 100%;
// 	flex: 0 0 100%;

// 	&__half {
// 		width: 50%;
// 		flex: 0 0 50%;
// 		border-bottom: p2r(4) solid transparent;

// 		&:first-of-type {
// 			border-right: p2r(4) solid transparent;
// 		}

// 		&:last-of-type {
// 			border-left: p2r(4) solid transparent;
// 		}
// 	}
// }

// .ui-field {
// 	position: relative;
// 	padding-top: p2r(35);
// 	padding-bottom: p2r(16);
// 	background-color: $bg;

// 	&.required {
// 		&::before {
// 			position: absolute;
// 			left: p2r(16);
// 			top: 50%;
// 			transform: translateY(-50%);			
// 			content: '';
// 			background-image: url(../images/svg/star.svg);
// 			background-repeat: no-repeat;
// 			background-position: center;
// 			background-size: p2r(8) p2r(9);
// 			width: p2r(8);
// 			height: p2r(9);
// 			z-index: 1;
// 		}
// 	}

// 	&__textarea {
// 		&.required {
// 			&::before {					
// 				top: p2r(20);				
// 			}
// 		}
// 	}

// 	label.error {					
// 		font-size: p2r(14);
// 		line-height: 1.2;
// 		color: $error;
// 		padding-left: p2r(36);
// 	}
// }

// .ui-field.required > .ui-input:focus + .ui-label,
// .ui-field.required > .ui-input:valid + .ui-label {
// 	transform: translateY(-100%) scale(.65);
// 	padding-left: p2r(16);
// }

// .ui-field.required > .ui-textarea:focus + .ui-label,
// .ui-field.required > .ui-textarea:valid + .ui-label {
// 	transform: translateY(-100%) scale(.65);
// 	padding-left: p2r(16);
// }

// .ui-label {
// 	position: absolute;
// 	left: 0;
// 	top: 50%;
// 	transform: translateY(-50%);	
// 	font-size: p2r(20);
// 	line-height: 1.2;
// 	opacity: 0.5;
// 	padding-left: p2r(36);
// 	padding-right: p2r(36);
// 	transition: transform 0.3s;

// 	&__textarea {
// 		top: p2r(26);
// 	}
// }

// .ui-input {
// 	display: block;
// 	background-color: $bg;
// 	border: none;
// 	outline: none;
// 	color: $font_white;
// 	position: relative;
// 	padding-left: p2r(36);
// 	padding-right: p2r(36);
// }

// .ui-textarea {
// 	display: block;
// 	background-color: $bg;
// 	border: none;
// 	outline: none;
// 	color: $font_white;
// 	position: relative;
// 	padding-left: p2r(36);
// 	padding-right: p2r(36);
// 	resize: none;
// 	width: 100%;
// 	height: p2r(100);
// }

// .ui-checkbox {
// 	width: p2r(48);
// 	height: p2r(48);
// 	background-color: $bg;
// 	border-radius: p2r(12);
// 	border: 1px solid $bg;
// 	cursor: pointer;

// 	&.checked {
// 		background-image: url(../images/svg/checked.svg);
// 		background-repeat: no-repeat;
// 		background-size: p2r(24);
// 		background-position: center;
// 	}

// 	&.error {
// 		border-color: #E22E2E;
// 	}
// }



.inputs-wrapper {
	display: flex;
	flex-wrap: wrap;
	border-radius: p2r(24);
	overflow: hidden;

	@include mobile {
		border-radius: p2r(16);
	}
}

.input-item {
	width: 100%;
	height: p2r(75);
	flex: 0 0 100%;

	@include tablet {
		height: p2r(59);
	}

	&__half {
		width: 50%;
		flex: 0 0 50%;		

		& + .textarea-item {
			margin-top: p2r(4);

			@include tablet {
				margin-top: p2r(4);
			}
		}

		@include mobile {
			width: 100%;
			flex: 0 0 100%;
		}

		&:first-of-type {
			border-right: p2r(2) solid transparent;

			@include mobile {
				border-right: none;
				margin-bottom: p2r(4);
			}
		}

		&:last-of-type {
			border-left: p2r(2) solid transparent;

			@include mobile {
				border-left: none;
			}
		}
	}
}

.textarea-item {
	width: 100%;
	height: p2r(200);
	flex: 0 0 100%;
	

	@include tablet {
		height: p2r(130);
	}
}

.ui-field {
	position: relative;
	background-color: $bg;
	height: 100%;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			.ui-label {
				color: $font_accent;
			}
		}
	}


	&.required {
		&::before {
			position: absolute;
			left: p2r(16);
			top: 50%;
			transform: translateY(-50%);			
			content: '';
			background-image: url(../images/svg/star.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: p2r(8) p2r(9);
			width: p2r(8);
			height: p2r(9);
			z-index: 1;
		}
	}

	&__light{
		background-color: #fff;

		&.required {
			&::before {				
				background-image: url('data:image/svg+xml,<svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.25" d="M3.9875 10.0266C3.525 10.0266 3.2125 9.58906 3.2125 9.02656C3.2125 8.71406 3.325 8.23906 3.55 7.60156C3.775 6.95156 3.8875 6.32656 3.8875 5.67656C3.3375 6.01406 2.925 6.36406 2.6125 6.71406C1.9875 7.41406 1.375 8.10156 0.725 8.10156C0.325 8.10156 0 7.78906 0 7.41406C0 7.00156 0.3375 6.58906 1.075 6.38906C1.4375 6.28906 1.85 6.17656 2.3125 6.08906C2.7625 6.00156 3.2625 5.80156 3.7875 5.50156C3.25 5.20156 2.7375 5.00156 2.2625 4.90156C1.325 4.70156 0.575 4.53906 0.25 4.16406C0.0875 3.97656 0 3.77656 0 3.56406C0 3.18906 0.3 2.90156 0.7375 2.90156C1.4 2.90156 2.175 3.77656 2.725 4.40156C3 4.71406 3.3875 5.02656 3.8875 5.32656V5.16406C3.8875 4.66406 3.85 4.25156 3.75 3.95156C3.55 3.35156 3.2375 2.41406 3.2375 1.97656C3.2375 1.40156 3.5625 0.976562 4.0125 0.976562C4.45 0.976562 4.7875 1.37656 4.7875 1.97656C4.7875 2.27656 4.675 2.76406 4.45 3.42656C4.225 4.08906 4.1125 4.72656 4.1125 5.32656C4.825 4.87656 4.7375 4.92656 5.35 4.33906C5.9375 3.68906 6.35 3.28906 6.575 3.13906C6.8125 2.97656 7.05 2.90156 7.3 2.90156C7.7 2.90156 8 3.17656 8 3.56406C8 3.98906 7.6875 4.35156 6.9625 4.58906C6.6125 4.70156 6.2 4.80156 5.7375 4.90156C5.2625 5.00156 4.7625 5.20156 4.2125 5.50156C4.75 5.80156 5.2375 5.98906 5.7 6.08906C6.6125 6.28906 7.3875 6.46406 7.7375 6.82656C7.9125 7.01406 8 7.20156 8 7.41406C8 7.78906 7.7 8.10156 7.2625 8.10156C6.525 8.10156 5.575 6.92656 5.2125 6.51406C5.0375 6.31406 4.6625 6.02656 4.1125 5.67656V5.83906C4.1125 6.37656 4.225 6.97656 4.4375 7.62656C4.65 8.27656 4.7625 8.73906 4.7625 9.02656C4.7625 9.61406 4.425 10.0266 3.9875 10.0266Z" fill="%233C392E"/></svg>');
			}
		}

		.ui-label {
			opacity: 1;
			color: rgba(60, 57, 46, 0.5);
		}
	}

	&__input {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__textarea {	
		padding-top: p2r(16);
		padding-bottom: p2r(16);

		display: flex;
		flex-direction: column;

		@include tablet {
			padding-top: p2r(14);
			padding-bottom: p2r(14);
		}
		

		&.required {
			&::before {					
				top: p2r(20);				
			}
		}

		label.error {					
			margin-top: auto;
		}
	}

	label.error {					
		font-size: p2r(14);
		line-height: 1.2;
		color: $error;
		padding-left: p2r(36);

		@include tablet {
			font-size: p2r(12);
			bottom: p2r(4);
		}
	}
}

.ui-field__input.required.input-active > .ui-label {
	position: relative;
	transform: translateX(p2r(-32)) translateY(0%) scale(.75);

	@include tablet {
		transform: translateX(p2r(-32)) translateY(p2r(0)) scale(.7);
	}
}

.ui-field__textarea.required.input-active > .ui-label {
	transform: translateX(p2r(-72)) translateY(p2r(-8)) scale(.75);

	@include tablet {
		transform: translateX(p2r(-74)) translateY(p2r(-12)) scale(.7);
	}

	@include mobile {
		transform: translateX(p2r(-34)) translateY(p2r(-12)) scale(.7);
	}
	
}

.ui-label {
	position: relative;
	z-index: 1;
	left: 0;
	transform: translateY(50%) translateX(0%);	
	font-size: p2r(20);
	line-height: 1.2;
	opacity: 0.5;
	padding-left: p2r(36);
	padding-right: p2r(36);
	transition: transform 0.5s, color 0.3s;		
	// position: absolute;	
		
	@include tablet {
		font-size: p2r(16);
	}
}

.ui-input {
	display: block;
	background-color: $bg;
	border: none;
	outline: none;
	color: $font_white;
	position: relative;
	padding-left: p2r(36);
	padding-right: p2r(36);
	margin-bottom: p2r(4);	

	@include tablet {
		font-size: p2r(16);
	}

	&__light {
		background-color: #fff;
		color: $font_black;
	}
}

.ui-field__input:not(.input-active):has(.ui-input.error) .ui-label {
    transform: translateY(100%) translateX(0%);	
}

.ui-textarea {
	display: block;
	background-color: $bg;
	border: none;
	outline: none;
	color: $font_white;
	position: relative;
	padding-left: p2r(36);
	padding-right: p2r(36);
	resize: none;
	width: 100%;
	flex-grow: 1;
	padding-top: p2r(8);	

	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 0;
		height: 0;
		display: none;
	}

	@include tablet {
		font-size: p2r(16);
		transform: translateY(p2r(-18));
		padding-top: p2r(18);
	}
}

.ui-checkbox {
	width: p2r(48);
	height: p2r(48);
	flex: 0 0 p2r(48);
	background-color: $bg;
	border-radius: p2r(12);
	border: 1px solid $bg;
	cursor: pointer;

	@include tablet {
		width: p2r(40);
		height: p2r(40);
		flex: 0 0 p2r(40);
		border-radius: p2r(8);
	}

	&.checked {
		background-image: url(../images/svg/checked.svg);
		background-repeat: no-repeat;
		background-size: p2r(24);
		background-position: center;

		@include tablet {
			background-size: p2r(20);
		}
	}

	&:not(.checked):has(> .ui-checkbox.error) {
		border-color: $error;
	}

	&__light {
		background-color: $bgc;
		border: 1px solid $bgc;
	}
}

#agree-error {
	display: none !important;
}




/* Стили для попапа, выезжающего слева */
// .my-mfp-slide-left .mfp-content {
// 	opacity: 0;
// 	transition: all 0.3s ease-in-out;
// 	transform: translateX(-100%);
//   }
  
//   .my-mfp-slide-left.mfp-ready .mfp-content {
// 	opacity: 1;
// 	transform: translateX(0);
//   }
  
//   .my-mfp-slide-left.mfp-removing .mfp-content {
// 	opacity: 0;
// 	transform: translateX(-100%);
//   }
  
//   .my-mfp-slide-left.mfp-bg {
// 	opacity: 0;
// 	transition: all 0.3s ease-out;
//   }
  
//   .my-mfp-slide-left.mfp-ready.mfp-bg {
// 	opacity: 0.8;
//   }
  
//   .my-mfp-slide-left.mfp-removing.mfp-bg {
// 	opacity: 0;
//   }

/* Скрываем стандартное сообщение о загрузке */
.mfp-preloader {
    display: none !important;
}
/* Стили для контейнера прелоадера */
.mfp-s-loading .mfp-content {
    display: none;
}

.custom-preloader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2999;
}
.custom-preloader svg {
	animation: spin 1s linear infinite;
	width: p2r(50);
	height: p2r(50);
	stroke: $font_accent;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.base-font {
	font-family: $basefont;
}

.demi-bold {
	font-weight: 600;
}

.custom-select {
	position: relative;
	width: p2r(209);
	// min-width: p2r(161);
	// max-width: p2r(318);

	&__dark {
		.select-header {
			background-color: #2f3d30;

			&-checked {
				color: $font_accent;
			}
		}

		.select-options {
			background-color: rgba(16, 51, 43, 0.8);			
		}
	}

	&__light {
		.select-header {
			background-color: #F4F0EC;

			&-checked {
				color: $font_black;
				background-image: url('data:image/svg+xml,<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_7196_40398)"><path d="M4.5 6.73975C4.68996 5.57697 5.86564 3.5304 8.19678 3.04297" stroke="%233C392E"/><path d="M4.5 6.73975C4.31004 5.57697 3.13436 3.5304 0.803223 3.04297" stroke="%233C392E"/></g><defs><clipPath id="clip0_7196_40398"><rect width="8" height="8" fill="white" transform="translate(0.5 0.5)"/></clipPath></defs></svg>');
			}

			&-label {
				color: $font_black;
			}
		}

		.select-options {
			background-color: rgba(255, 255, 255, 0.8);

			label {
				color: $font_black;
			}
		}
	}
}
.select-header {
	padding: p2r(14) p2r(32);
	cursor: pointer;	
	border-radius: p2r(40);	

	&-label {
		font-size: p2r(14);
		line-height: 1.2;
		margin-bottom: p2r(2);
	}

	&-checked {
		font-size: p2r(16);
		line-height: 1.2;
		background-image: url('data:image/svg+xml,<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_7196_40398)"><path d="M4.5 6.73975C4.68996 5.57697 5.86564 3.5304 8.19678 3.04297" stroke="%23E9B566"/><path d="M4.5 6.73975C4.31004 5.57697 3.13436 3.5304 0.803223 3.04297" stroke="%23E9B566"/></g><defs><clipPath id="clip0_7196_40398"><rect width="8" height="8" fill="white" transform="translate(0.5 0.5)"/></clipPath></defs></svg>');
		background-repeat: no-repeat;
		background-position: center right;
		width: max-content;
		padding-right: p2r(16);
		max-width: p2r(156);
		// max-width: p2r(254);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	border-top: none;
	margin-top: p2r(16);
	z-index: 2;
	width: p2r(364);	
	background-blend-mode: soft-light, normal;
	backdrop-filter: blur(p2r(16));
	border-radius: p2r(40);
	overflow: hidden;

	@include tablet {
		margin-top: p2r(24);
	}

	&-wrapper {
		overflow-y: auto;
		// max-height: p2r(276);
		max-height: p2r(340);
		padding: p2r(32);

		@include tablet {
			max-height: p2r(300);
		}

		@include mobile {
			max-height: 50vh;			
		}
	}

	label {
		display: block;
		padding: p2r(9);
		cursor: pointer;
	}
}

.select-options input[type="radio"] {
	display: none;
}
  
  .select-options label {
	position: relative;
	padding-left: p2r(36);
	cursor: pointer;	
	font-size: p2r(20);
	line-height: 1.2;
	transition: color 0.3s;

	@include tablet {
		font-size: p2r(16);
	}

	@include mobile {
		font-size: p2r(14);
	}

	&.checked {
		color: $font_accent;
	}

	@media (hover: hover) and (pointer: fine) {
        &:hover {
			color: $font_accent;				
        }
      }
  }
  
  .select-options .custom-radio {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: p2r(24);
	width: p2r(24);
	background-color: $bg_article;
	border-radius: 50%;
  }
  
  .select-options input[type="radio"]:checked + .custom-radio {
	background-color: $bg_article;
  }
  
  .select-options .custom-radio:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .select-options input[type="radio"]:checked + .custom-radio:after {
	display: block;
  }

  .select-options .checked .custom-radio:after {
	display: block;
  }
  
  .select-options .custom-radio:after {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: p2r(14);
	height: p2r(14);
	border-radius: 50%;
	background: $accent;
  }
  

@include mobile {
	body.modal-open {
		overflow: hidden;
	}

	.select-options-mobile {			
		display: none;
		position: fixed;
		top: unset;
		bottom: 0;
		left: 0;
		right: 0;
		// max-height: 50vh;
		width: 100%;
		// overflow-y: auto;
		background-color: $primary;
		border-top-left-radius: p2r(16);
		border-top-right-radius: p2r(16);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		z-index: 1000;

		@include mobile {
			max-height: 50vh;
			::-webkit-scrollbar {
				width: p2r(6);
				height: p2r(6);
			}
			::-webkit-scrollbar-thumb {
				width: p2r(6);
				height: p2r(6);
				background-color: $accent;
			}
		}
	}
	.select-overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 999;
	}
}

.ui-list {
	margin-bottom: p2r(28);
	color: $font_black;

	@include tablet {
		font-size: p2r(16);
		margin-bottom: p2r(16);
	}

	li {
		position: relative;
		padding-left: p2r(24);
		margin-bottom: p2r(16);

		@include tablet {
			padding-left: p2r(16);
			margin-bottom: p2r(8);
		}       

		&::before {
			position: absolute;
			left: 0;
			top: p2r(10);
			content: '';
			width: p2r(8);
			height: p2r(8);
			border-radius: 50%;
			background-color: $font_accent;

			@include tablet {
				top: p2r(8);
			}
		}
	}
}