@import "vars";

@import "normalize";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: $basefont, sans-serif;
  line-height: 1.42;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // @media (max-width: 959px) {
  //   height: -webkit-fill-available;
  // }
}
html {
  font-size: $base-font-size + 0px;

  @media (max-width: $xl-break-point) {
    font-size: $xl-font-size + 0vw;
  }

  @media (max-width: $tablet-break-point) {
    font-size: $md-font-size + 0vw;
  }
  @media (max-width: $mobile-break-point) {
    font-size: $sm-font-size + 0vw;
  }
}
body {
  height: 100%;
  color: $font_white;
  font-family: $basefont, sans-serif;
  font-weight: $weight;
  font-size: p2r($fontsize);
  line-height: $lh;
  background: $bg;
  scroll-behavior: smooth;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

a, label{
	-webkit-tap-highlight-color: transparent;
}





// @import "../images/sprite/sprite";

input::-ms-clear {
  display: none;
}

/* Для Safari */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@import "ui";

@import "grid";

@import "header";

@import "main";

@import "footer";
